<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="far far-bars"></i>保养小贴士 <small>从点滴预防疾病</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                     </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                         </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                        </li>
                         <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                  <div class="clearfix"></div>
                    </div>
                    <div class="x_content">


                     <div class="" role="tabpanel" data-example-id="togglable-tabs">
                         <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                             <% for(i=0;i<recommendations.length;i++) {%>
                                <%if(i==0) {%>
                                 <li class="active">
                                    <a id="<%=recommendations[i].tab%>"href="#<%=recommendations[i].tag%>" data-toggle="tab"><%=recommendations[i].name%></a>
                                 </li>          
                                       <% }else{%>
                                          <li>
                                    <a id="<%=recommendations[i].tab%>" href="#<%=recommendations[i].tag%>" data-toggle="tab"><%=recommendations[i].name%></a>
                                         </li>
                                    <%} %>
                                    <%} %>
                                
                            </div> 
                            </ul>
<div id="myTabContent" class="tab-content">
    <%for(i=0;i<recommendations.length;i++){%>
       <%if(i==0){%>
        <div role="tabpanel<%i+1%>" class="tab-pane fade active in" id="<%=recommendations[i].tag%>" aria-labelledby="<%recommendations[i].tab%>">
         <p style="font-size: 24px;"><%=recommendations[i].text%></p>
      </div>
       <%}else{%>
    <div role="tabpanel<%i+1%>" class="tab-pane fade" id="<%=recommendations[i].tag%>" aria-labelledby="<%=recommendations[i].tab%>">
         <p style="font-size: 24px;"><%=recommendations[i].text%></p>
     </div>
      <% } %>
    <%}%>
       </div>
 </div
     </div>
     </div>