<div class="paga-title">
    <div class="title_left">
        <h3 style='font-family: "Helvetica Neue", Roboto, Arial, 微软雅黑'><%=page_title%></h3>
    </div>
</div>
<div class="clearfix"></div>

<div class="x_panel">
    <div class="x_content">
        <button type="button" class="btn btn-danger btn-lg">立即求助</button>
        <span style="margin-left: 20px;">我的位置：<%=address%> </span>
        <br />
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="color: #d9534f;">
            请在紧急时刻再点击
        </span>
    </div>
</div>

<div class="x_panel">
    <div class="col-md-4">
        <div class="x_panel">
            <div class="x_title">
                <h2> 常用联系人 </h2>
                <ul class="nav panel_toolbox" style="min-width: 0;">
                    <li><a><i class="fa fa-plus"></i></a>
                    </li>
            </ul>

                <div class="clearfix"></div>

            </div>
            <div class="x_content bs-example-popovers">
                <% for (i=0; i< contacts.length; i++) {%>
                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <strong><%=contacts[i].name%></strong>&nbsp;&nbsp;&nbsp;&nbsp;联系方式：<%=contacts[i].tel%>
                    </div>
                <% } %>

            </div>
        </div>

        <div class="x_panel">
            <div class="x_title">
                <h2> 常用医师 </h2>
                <ul class="nav panel_toolbox" style="min-width: 0;">
                    <li><a><i class="fa fa-plus"></i></a>
                    </li>
                </ul>

                <div class="clearfix"></div>

            </div>
            <div class="x_content bs-example-popovers">
                <% for (i=0; i< docts.length; i++) { %>
                <div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <strong><%=docts[i].name%></strong>&nbsp;&nbsp;&nbsp;&nbsp;联系方式：<%=docts[i].tel%>
                </div>
                <% } %>

            </div>
        </div>

    </div>
    <div class="col-md-2 col-sm-2 col-xs-2"></div>

    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>个人信息</h2>

                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <form id="demo-form2" class="form-horizontal form-label-left" novalidate="">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">姓名</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="date-picker form-control col-md-7 col-xs-12" type="text" value="<%=user.name%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">性别</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="date-picker form-control col-md-7 col-xs-12" type="text" value="<%=user.gender%>" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">近期服用药物</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea class="date-picker form-control col-md-7 col-xs-12" type="text"><%=user.drugs%></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">长期服用药物</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea class="date-picker form-control col-md-7 col-xs-12" type="text">无</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">近期血压</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="date-picker form-control col-md-7 col-xs-12" type="text" value="<%=user.bldp%>">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-primary">取消修改</button>
                            <button class="btn btn-success">确认修改</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

